<img align="left" alt="Nikon D90 June 2012.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/07/Nikon_D90_June_2012.jpg/280px-Nikon_D90_June_2012.jpg" width="280" height="220"
           style="margin:0px 15px 15px 0px;border: 1px solid rgb(30, 169, 213);"  srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/07/Nikon_D90_June_2012.jpg/420px-Nikon_D90_June_2012.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/07/Nikon_D90_June_2012.jpg/560px-Nikon_D90_June_2012.jpg 2x">
        <hr>
        <p style="padding: 10px" align="justify">Nikon D90 — цифровой зеркальный фотоаппарат среднего класса компании Nikon, ориентирован на фотолюбителей и энтузиастов, а также профессионалов с ограниченным бюджетом. Представлен 27 августа 2008 года как замена предшествующей модели Nikon D80. Вместе с фотоаппаратом представлен объектив Nikkor AF-S DX 18-105mm f/3.5-5.6G ED VR.
Несмотря на то, что на официальном японском сайте Nikon модель D90 числится как снятая с производства[1] с мая 2011 года, по состоянию на начало 2013 года модель указана на многих других официальных сайтах как актуальная и позиционируется между моделями D5100 и D5200, с одной стороны, и D7000, с другой, а также имеется в наличии в магазинах. Стоимость версии без объективов на официальных сайтах — 900 долларов в США[2][3], 27 000 рублей в России[4].
        </p>
        <hr>
        <table>
            <tr>
                <td>Годы выпуска</td>
                <td>Тип</td>
                <td>Матрица</td>
                <td>Разрешение</td>
                <td>Объектив</td>
                <td>Затвор</td>
                <td>Диапазон выдержек</td>
                <td>Экспозиция</td>
                <td>Режимы экспозамера</td>
                <td>Зоны фокусировки</td>
                <td>Серийная съемка</td>
                <td>Видоискатель</td>
                <td>Диапазон ISO</td>
                <td>Фотовспышка</td>
                <td>Баланс белого</td>
                <td>Съемка видео</td>
                <td>Экран</td>
                <td>Накопитель</td>
                <td>Вес</td>
                <td>Питание</td>
            </tr>
            <tr>
                <td class="first">2008 — настоящее время</td>
                <td>цифровой зеркальный фотоаппарат</td>
                <td>КМОП 23,6 × 15,8 мм (Nikon DX)</td>
                <td>4288 × 2848 (12,3 млн пикселей)</td>
                <td>Байонет F</td>
                <td>шторно-щелевой с электронным управлением</td>
                <td>1/4000 — 30 с, длительная</td>
                <td>TTL-замер при открытой диафрагме, 3D-сенсор</td>
                <td>матричный, центрально-взвешенный, точечный</td>
                <td>11 датчиков</td>
                <td>4,5 кадров в секунду</td>
                <td>зеркальный с несъёмной пентапризмой, 96 % кадра, увеличение 0,94;
LiveView</td>
                <td>200—3200, расширение до 100—6400</td>
                <td>встроенная подъёмная; башмак</td>
                <td>автоматический, 6 предустановок, выбор цветовой температуры, ручной</td>
                <td>1280 × 720, 24 кадра/с, AVI, Motion JPEG, моно</td>
                <td>3 дюйма, TFT, 920 000 пикселей</td>
                <td>Secure Digital (поддержка SDHC)</td>
                <td>620 г (без батареи)</td>
                <td class="end">EN-EL3e</td>
            </tr>
        </table>